.TreeGrid{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
	font-weight:inherit;
}
.TreeGrid .header,.TreeGrid .header.row_active{
	text-align: center;
	color: #333;
	height: 40px;
	background: #4386e2 !important;
	/*Opera 11.10+*/ /*line-height: 40px;*/
	border: 1px solid #4386e2;
}

.TreeGrid td {
	text-align: left;
	color: #333;
	padding: 8px;
	border-bottom: none;
	height:28px;
}

.TreeGrid tr {
	vertical-align: center !important;
	padding: 8px;
	line-height: 1.42857;
	vertical-align: middle;
	cursor: pointer;
}

.TreeGrid row_active {
	border-color: #282f2f;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px #4d5555, 0 0 8px #4d5555;
	box-shadow: inset 0 1px 1px #4d5555, 0 0 8px #4d5555;
}

.TreeGrid tr td#img {
	    border: 1px solid #d3d3d3;
}

.TreeGrid .header td {
	text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    border:0px;
    height:24px;
    padding: 8px 0;
}
.TreeGrid .row_active{
	background-color: #bedaff !important;
}

.auth_list {
	border:none;
}
/*TreeGrid Icon Image*/
.TreeGrid .image_hand,.TreeGrid .image_nohand{
	margin-right:7px;
	margin-bottom: -2px;
	display: inline-block;
}
.TreeGrid tr:nth-child(even){
    background: #FAFAFA;
}
